<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/form.css">
    <title>Document</title>
</head>
<body>
    <div class="form-box">
        <form action="/<%= locals.action %>" method="post">
            <div id="heading"><h1 class="inter"><%= locals.heading %></h1></div>
            <div>
            <label class="roboto-mono"  for="title">ENTER THE TITLE:</label>
            <input type="text" id="title" name="title" <% if(locals.post){ %> value="<%= locals.post.title%>" <% } %>>
            </div>
            <div>
            <label class="roboto-mono"  for="author" >ENTER THE AUTHOR:</label>
            <input type="text" name="author" id="author" <% if(locals.post){ %> value="<%= locals.post.author%>" <% } %>>
            </div>
            <div>
                <label class="roboto-mono" for="content">ETNER THE CONTENT:</label>
                <textarea name="content" id="content" rows="13"><% if(locals.post){ %> <%= locals.post.content%> <% } %></textarea>
            </div>
            <div class="button">
            <button type="submit">SUBMIT</button>
            </div>
            <% if(locals.post){ %>
            <input type="text" name="id" value="<%= locals.post.id %>" hidden="true">
            <% } %>
        </form>
    </div>
</body>
</html>